@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
// font-family: 'Montserrat', sans-serif;
// font-family: 'Philosopher', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Inter', sans-serif;

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
:root {
  --blue: #3c5997;
}
/*--------------------*/
header {
  background: #f6f7f9;
  border-bottom: 1px solid #1615191f;
}

.header__container {
  margin: 0px auto;
  padding: 4px 0px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5e5373;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__menu {
  display: flex;
  align-items: center;
  z-index: 4;
  @media (max-width: 992px) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.header__list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  z-index: 2;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 0px;
  transition: all ease 0.2s;
  &:hover {
    color: #3c5997;
    background: #e6ecfa;
    border-radius: 4px 4px 0px 0px;
  }
  @media (max-width: 992px) {
    &:hover {
      background: unset !important;
    }
  }
}
.header__list li:hover .menu_drop {
  display: block;
}

.header__link {
  display: block;
  color: #000000;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #3c5997;
  transition: all ease 0.3s;
  white-space: nowrap;
  transition: all ease 0.3s;
  padding: 13px 20px;
}
.menu_drop {
  display: none;
  position: absolute;
  padding: 16px 15px 4px 15px;
  background-color: #e6ecfa;
  border-radius: 0px 4px 4px 4px;
  top: 40px;
  ul {
    padding: 0px 0px;
    li {
      a {
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: #000000;
        transition: all ease 0.3s;
        padding: 0px 40px 0px 0px;
        margin: 0px 0px 15px 0px;
        &:hover {
          color: #3c5997;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: unset;
  }
  .header__container {
    padding: 0px 0px;
  }
  .header__logo {
    flex: 0 0 40px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin: 0px 0px 0px 15px;
  }
  .header__burger span {
    position: absolute;
    background-color: #000000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #f6f7f9;
    padding: 80px 10px 20px 10px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
  }
  .header__link {
    font-size: 16px;
    padding: 5px 10px 9px 0px;
  }
  .main_social {
    display: none;
  }
  .headerUp {
    border-bottom: unset !important;
  }
  .search_icon {
    margin: 0px 0px 0px 0px !important;
  }
  .search_input {
    display: block !important;
  }
}
.headerUp {
  padding: 13px 0px;
  border-bottom: 1px solid #1615191f;
  position: relative;
  z-index: 5;
  background: #f6f7f9;
  @media (max-width: 992px) {
    padding: 7px 0px;
  }
}

.search_lang {
  display: flex;
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
  margin: 0px 24px 0px 0px;
  position: relative;
}
.search_icon {
  border: 1px solid #3c59979f;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0px 0px 0px 5px;
  transition: all ease 0.3s;
  &:hover {
    border: 1px solid var(--blue);
  }
}
.search_img {
}
.search_input {
  display: none;
  height: 40px;
  border: 1px solid var(--blue);
  padding: 0px 7px;
  border-radius: 3px;
  position: absolute;
  right: 50px;
  &.active {
    display: block;
  }
  @media (max-width: 992px) {
    right: unset;
    left: 50px;
  }
}
.dropdown-toggle {
  background-color: unset !important;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #161519;
}
.social {
  display: flex;
  align-items: center;
}
.social_item {
  margin: 0px 6px 0px 0px;
  transition: all ease 0.3s;
  display: block;
  &:hover {
    transform: translateY(-4px);
  }
}

.logo img {
  margin: 0px 10px 0px 0px;
  max-width: 100%;
  min-width: 139px;
}

.adpt_social {
  margin: 15px 0px 0px 0px;
}
.adpt_search {
  margin: 15px 0px 0px 0px;
}

main {
  // margin: 0px 0px 340px 0px;
  padding: 0px 0px 70px 0px;
  // background-color: #ffffff;
  @media (max-width: 768px) {
    padding: 0px 0px 40px 0px;
    // margin: 0px 0px 730px 0px;
  }
}
footer {
  // position: fixed;
  // width: 100%;
  // z-index: -1;
  // left: 0;
  // bottom: 0;
}
.mainSection {
  background: url("../img/background_img.png") no-repeat;
  background-position: left;
}
.main_news {
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 4px;
  overflow: hidden;
}
.main_news_img {
  position: relative;
  width: 100%;
  .main_img {
    width: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.116);
  }
}

.main_title,
h1 {
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 49px;
  color: #ffffff;
  @media (max-width: 768px) {
    font-size: 34px;
    line-height: 110%;
  }
  @media (max-width: 465px) {
    font-size: 22px;
  }
}
.main_title {
  transition: all ease 0.3s;
  &:hover {
    color: #e4e4e4;
  }
}
.main_news_content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0px 40px 40px 40px;
  @media (max-width: 768px) {
    padding: 0px 20px 20px 20px;
  }
}

.theme_block {
  display: flex;
  margin: 0px 0px 24px 0px;
  @media (max-width: 465px) {
    margin: 0px 0px 14px 0px;
  }
  a {
    display: block;
    width: fit-content;
    background: #ffffff;
    border-radius: 3px;
    padding: 4px 9px;
    font-size: 12px;
    line-height: 15px;
    color: #3c5997;
    margin: 0px 8px 0px 0px;
    transition: all ease 0.3s;
    &:hover {
      transform: translateY(-4px);
    }
  }
}

.read_more {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  width: fit-content;
  &:hover {
    color: #ffffff;
  }
  &:hover .read_more_img {
    transform: translateX(4px);
  }
  img {
    margin: 0px 8px 0px 0px;
  }
}
.read_more_img {
  transition: all ease 0.3s;
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
  margin: 0 -7px;
}

.slick-track {
  display: flex;
}

.slider {
  position: relative;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 0px;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  outline: none;
  cursor: pointer;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/sl-arrow_l.svg") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/sl-arrow_r.svg") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider__item {
  padding: 0px 0px;
  outline: none;
  margin: 0px 7px;
}
.slider__item img {
  max-width: 100%;
}
.slider__item.slick-center {
}

/*dots*/
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}
.slider_news_img {
  display: block;
  width: 100%;
  max-width: 190px;
  max-height: 120px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  @media (max-width: 450px) {
    max-width: 200px;
  }
  &:hover:after {
    background-color: rgba(0, 0, 0, 0);
  }
  img {
    width: 100%;
    height: 100%;
    max-width: 190px;
    max-height: 120px;
    object-fit: cover;
    @media (max-width: 450px) {
      max-width: 200px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.116);
    transition: all ease 0.3s;
  }
}

.subtitle {
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  color: #161519;
  @media (max-width: 1200px) {
    font-size: 21px;
  }
}
.ornament_img {
  margin: 0px 8px 0px 0px;
  @media (max-width: 1200px) {
    margin: 0px 5px 0px 0px;
  }
}
.imgSection {
  margin: 80px 0px 0px 0px;
  @media (max-width: 1200px) {
    margin: 50px 0px 0px 0px;
  }
  @media (max-width: 768px) {
    margin: 25px 0px 0px 0px;
  }
}

.imgSection_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  margin: 40px 0px 0px 0px;
  @media (max-width: 1200px) {
    margin: 25px 0px 0px 0px;
  }
  @media (max-width: 768px) {
    margin: 15px 0px 0px 0px;
    column-gap: 8px;
  }

  a {
    display: block;
    position: relative;
    max-height: 328px;
    overflow: hidden;
    border-radius: 2px;
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.116);
      transition: all ease 0.3s;
    }
    &:hover:after {
      background-color: rgba(0, 0, 0, 0);
    }
    img {
      width: 100%;
      max-width: 100%;
      max-height: 382px;
      object-fit: cover;
    }
  }
}

.president_aside_block {
  display: block;
  position: relative;
  padding: 49px 40px 31px 40px;
}
.president_back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: fill;
}
.president_aside_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.speciality {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.6;
  margin: 0px 0px 16px 0px;
}
.president_img {
  max-width: 120px;
  max-height: 120px;
  margin: 0px 0px 8px 0px;
}
.president_name {
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}
.president_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

.subtitle.bb {
  border-bottom: 1px solid #1615192d;
  padding: 0px 0px 16px 0px;
}
.magaz_img {
  overflow: hidden;
  display: block;
  border-radius: 10px;
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 448px;
  }
}

.second_aside_block {
  margin: 27px 0px 0px 0px;
  width: 100%;
  @media (max-width: 992px) {
    margin: 40px 0px 5px 0px;
  }
}

.section2 {
  margin: 70px 0px 70px 0px;
  @media (max-width: 992px) {
    margin: 40px 0px 40px 0px;
  }
  @media (max-width: 768px) {
    margin: 25px 0px 30px 0px;
  }
}

//video modal
.video_slider {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 768px) {
  .video_slider {
    margin: 0px 0px 30px 0px;
  }
}
.video_slider .slick-next:before {
  content: url("../img/icon/arrLeft.svg");
}
.video_slider .slick-prev:before {
  content: url("../img/icon/arrRight.svg");
}
.video_slider .slick-next,
.video_slider .slick-prev {
  background: unset;
}
.video_slider .slick-prev {
  top: auto;
  bottom: 58%;
  left: -63px;
  z-index: 1;
}
@media (max-width: 1200px) {
  .video_slider .slick-prev {
    left: -30px;
  }
}
@media (max-width: 768px) {
  .video_slider .slick-prev {
    left: 0px;
  }
}
.video_slider .slick-next {
  top: auto;
  bottom: 58%;
  right: -63px;
  z-index: 1;
  left: unset;
}
@media (max-width: 1200px) {
  .video_slider .slick-next {
    right: -30px;
  }
}
@media (max-width: 768px) {
  .video_slider .slick-next {
    right: 0px;
  }
}
@-webkit-keyframes modal-video {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-video {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes modal-video-inner {
  0% {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes modal-video-inner {
  0% {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-name: modal-video;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.modal-video-close {
  opacity: 0;
}
.modal-video-close .modal-video-movie-wrap {
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  transform: translate(0, 100px);
}
.modal-video-body {
  max-width: 940px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table;
}
.modal-video-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-name: modal-video-inner;
  animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -35px;
  right: -35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
}
.modal-video-close-btn:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal-video-close-btn:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal-video-close-btn:after,
.modal-video-close-btn:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
  border-radius: 5px;
  margin-top: -6px;
}
.js-video-button {
  cursor: pointer;
  position: relative;
}
.play_icon {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover img {
    transform: scale(1.1);
  }
  img {
    width: 56px;
    height: 56px;
    transition: all ease 0.3s;
  }
}
.little_modal_video {
  margin: 45px 0px 0px 0px;
  @media (max-width: 992px) {
    margin: 15px 0px 15px 0px;
  }
}
.little_video_item {
  margin: 0px 0px 8px 0px;

  .title {
    font-family: "Philosopher", sans-serif;
    font-size: 14px;
    line-height: 120%;
    color: #000000;
    margin: 0px 25px 0px 0px;
  }
  .time {
    font-family: "Philosopher", sans-serif;
    font-size: 14px;
    line-height: 120%;
    color: #000000;
    margin: 0px 0px;
  }
  &:hover .little_play img {
    transform: scale(1.2);
  }
  .text {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 7px 0px;
    margin: 0px 0px 0px 12px;
  }
}
.img_play_block {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
  .img_play {
    max-width: 40px;
    min-width: 40px;
    max-height: 40px;
    min-height: 40px;
  }
  .little_play {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      transition: all ease 0.3s;
      max-width: 11px;
      max-height: 14px;
    }
  }
}
.main_modal_video {
  border-radius: 8px;
  overflow: hidden;
  min-width: 168px;
}
.video_img {
  width: 100%;
  height: 100%;
  max-height: 220px;
  object-fit: cover;
}
.section2_main_block {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  max-height: 455px;
  &:hover img {
    transform: scale(1.1);
  }
  img {
    width: 100%;
    transition: all ease 0.3s;
  }
  .text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px 40px 40px;
    .mini_label {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #ffffff;
      margin: 0px 0px 12px 0px;
      text-align: center;
    }
    .title {
      font-family: "Philosopher", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 120%;
      text-align: center;
      color: #ffffff;
    }
  }
}

.video_list {
}
.video_list_item {
  margin: 0px 0px 16px 0px;
  .video_list_img {
    border-radius: 50%;
    overflow: hidden;
    min-width: 72px;
    min-height: 72px;
    max-width: 72px;
    max-height: 72px;
    img {
      object-fit: cover;
      min-width: 72px;
      min-height: 72px;
      max-width: 72px;
      max-height: 72px;
    }
  }
  .text {
  }
  .label {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #161519;
    opacity: 0.6;
    margin: 0px 0px 4px 0px;
  }
  .title {
    font-family: "Philosopher", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #161519;
    overflow: hidden;
    max-height: 32px;
  }
}

.video_list {
  column-gap: 15px;
  @media (max-width: 992px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 420px) {
    grid-template-columns: 1fr;
  }
}

.title_tabs {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 40px 0px;
  @media (max-width: 992px) {
    margin: 0px 0px 20px 0px;
  }
}
.nav-tabs {
  justify-content: flex-end;
  @media (max-width: 992px) {
    justify-content: flex-start;
  }
}
.nav-tabs {
  .nav-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #161519;
    opacity: 0.6;
    padding: 0px 0px 16px 0px;
    margin: 0px 0px 0px 20px;
    transition: all ease 0.3s;
    @media (max-width: 992px) {
      padding: 0px 0px 5px 0px;
      margin: 0px 20px 8px 0px;
    }
    &:active {
      border: none;
    }
    &:focus {
      border: none;
    }
    &:hover {
      border: none;
      opacity: 1;
      border-bottom: 2px solid #296eff;
    }
    &.active {
      border-bottom: 2px solid #296eff;
      border-top: none;
      border-left: none;
      border-right: none;
      opacity: 1;
    }
  }
}
.tabs_news {
  display: grid;
  // margin: 0px -15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 20px;
  @media (max-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 455px) {
    grid-template-columns: 1fr;
  }
}
.news_item {
  display: flex;
  flex-direction: column;
  // margin: 0px 15px;
  img {
    border-radius: 2px;
    width: 100%;
    max-width: 350px;
    max-height: 220px;
    min-height: 220px;
    object-fit: cover;
    @media (max-width: 768px) {
      max-height: 190px;
      min-height: 190px;
    }
    @media (max-width: 455px) {
      max-width: unset !important;
      min-height: 150px;
      max-height: 190px;
    }
  }
  .news_item_label {
    font-size: 12px;
    line-height: 15px;
    color: #161519;
    opacity: 0.6;
    margin: 12px 0px 8px 0px;
  }
  .news_item_text {
    font-family: "Philosopher", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    color: #161519;
    overflow: hidden;
    max-height: 37.5px;
  }
}
.section3 {
  margin: 0px 0px 80px 0px;
  @media (max-width: 992px) {
    margin: 0px 0px 50px 0px;
  }
}

.section4 {
  background: url("../img/background4.png") no-repeat;
  background-size: cover;
  position: relative;
  padding: 127px 0px;
  overflow: hidden;
  margin: 0px 0px 80px 0px;
  @media (max-width: 768px) {
    padding: 50px 0px;
    margin: 0px 0px 30px 0px;
  }
  .ornament_img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }
}

.cards_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 425px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.cards_item {
  position: relative;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.08));
  border-radius: 16px;
  max-width: 227px;
  overflow: hidden;
  position: relative;
  z-index: 3;
  @media (max-width: 768px) {
    max-height: 270px;
  }
  @media (max-width: 425px) {
    max-width: unset;
    width: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.089);
  }
  img {
    transition: all ease 0.3s;
    @media (max-width: 425px) {
      width: 100%;
    }
  }
  &:hover img {
    transform: scale(1.1);
  }
}
.cards_text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  padding: 0px 24px 24px 24px;
}
.main_title.font-48 {
  font-size: 48px;
  @media (max-width: 768px) {
    font-size: 35px !important;
  }
}

.book_item {
  margin: 0px 0px;
  overflow: hidden;
  border-radius: 4px;
  img {
    max-width: 100%;
  }
}
.books_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  margin: 24px 0px 80px 0px;
  @media (max-width: 992px) {
    margin: 14px 0px 40px 0px;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 380px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.section6 {
  margin: 0px 0px 80px 0px;
  @media (max-width: 992px) {
    margin: 0px 0px 40px 0px;
  }
  .slick-slider {
    min-width: 0;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
  }

  .slider2 {
    position: relative;
  }

  @media (max-width: 767px) {
    .slider2 {
      padding: 0px 0px;
    }
  }

  .slider2 .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
    outline: none;
    cursor: pointer;
  }
  .slider2 .slick-arrow.slick-prev {
    left: 0;
    background: url("../img/sl-arrow_l.svg") 0 0 / 100% no-repeat;
  }
  .slider2 .slick-arrow.slick-next {
    right: 0;
    background: url("../img/sl-arrow_r.svg") 0 0 / 100% no-repeat;
  }
  .slider2 .slick-arrow.slick-disabled {
    opacity: 0.2;
  }

  .slider__item {
    padding: 0px 15px;
    outline: none;
  }
  .slider__item img {
    max-width: 100%;
  }
  .slider__item.slick-center {
  }

  .slider2 .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    @media (max-width: 768px) {
      margin: 25px 0px 0px 0px;
    }
  }
  .slider2 .slick-dots li {
    list-style: none;
    margin: 0px 15px;
    @media (max-width: 768px) {
      margin: 0px 7px;
    }
  }
  .slider2 .slick-dots button {
    font-size: 0;
    width: 40px;
    height: 2px;
    background-color: #f3f3f3;
    transition: all ease 0.2s;
    &:hover {
      background-color: var(--blue);
    }
  }
  .slider2 .slick-dots li.slick-active button {
    background-color: transparent;
    background-color: var(--blue);
  }
}
footer {
  padding: 32px 0px;
  background: #f6f7f9;
  @media (max-width: 768px) {
    padding: 32px 0px 15px 0px;
  }
}
.social1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.social_item1 {
  margin: 0px 0px 0px 6px;
  transition: all ease 0.2s;
  display: block;
  &:hover {
    transform: translateY(-4px);
  }
  @media (max-width: 768px) {
    margin: 0px 3px 0px 3px;
  }
}

.footer_up {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left {
    a {
      display: block;
      margin: 0px 0px 18px 0px;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    .text {
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      color: #000000;
      @media (max-width: 768px) {
        text-align: center;
      }
      span {
        font-weight: bold;
      }
    }
  }
  .right {
    .footer_menu {
      margin: 0px 0px 50px 0px;
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 768px) {
        margin: 0px 0px 30px 0px;
      }
      a {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #3c5997;
        margin: 0px 0px 0px 20px;
        transition: all ease 0.3s;
        &:hover {
          transform: translateY(-4px);
        }
        @media (max-width: 768px) {
          margin: 0px 10px 0px 10px;
        }
      }
    }
  }
}

.footer_middle {
  margin: 0px 0px 25px 0px;
  @media (max-width: 768px) {
    margin: 20px 0px 20px 0px;
  }
  ul {
    display: grid;
    grid-template-columns: 145px 200px 140px 130px 185px;
    column-gap: 30px;
    row-gap: 15px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
    li {
      font-size: 14px;
      line-height: 140%;
      color: #000000;
      max-width: 230px;
      @media (max-width: 768px) {
        padding: 0px 0px 0px 0px;
        text-align: center;
      }
      a {
        color: var(--blue);
        font-weight: bold;
      }
      p {
        margin: 0px 0px 0px 0px;
      }
    }
  }
}
.footer_down {
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer_down_item {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
  margin: 0px 0px 0px 0px;
  @media (max-width: 768px) {
    margin: 0px 0px 10px 0px;
  }
  &:nth-child(2) {
    margin: 0px 30px;
    @media (max-width: 768px) {
      margin: 0px 0px 10px 0px;
    }
  }
  span {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
  }
  a {
  }
  .blue {
    color: #03aac7;
  }
}
a.footer_down_item {
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.4);
  span {
    margin: 0px 0px 0px 5px;
    font-weight: bold;
  }
}

.single_news_title {
  font-family: "Philosopher", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #000000;
  @media (max-width: 768px) {
    font-size: 30px;
  }
}
.single_news_text {
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
  margin: 0px 0px 23px 0px;
  max-width: 858px;
  @media (max-width: 768px) {
    margin: 0px 0px 13px 0px;
    font-size: 17px;
  }
}
.singlePage_img {
  margin: 35px 0px 30px 0px;
  max-height: 500px;
  overflow: hidden;
  border-radius: 10px;
  img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    margin: 20px 0px 20px 0px;
  }
}
.single_news_subtitle {
  font-family: "Philosopher", sans-serif;
  font-size: 28px;
  line-height: 120%;
  color: #000000;
}
.single_news_subtitle {
  margin: 0px 0px 30px 0px;
  @media (max-width: 768px) {
    margin: 0px 0px 15px 0px;
  }
}

.aside_menu {
  background: #e6ecfa;
  border-radius: 10px;
  padding: 25px 18px;
  min-width: 250px;
  width: 100%;
  ul {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    li {
      a {
        font-weight: 300;
        font-size: 20px;
        line-height: 100%;
        color: #222222;
        transition: all ease 0.1s;
        &:hover {
          color: var(--blue);
        }
      }
      margin: 0px 0px 20px 0px;
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
    }
  }
}

.academyNews_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 30px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
  }
  @media (max-width: 425px) {
    grid-template-columns: 1fr;
  }
}
.academyNews_item {
  display: flex;
  flex-direction: column;
  &:hover .academyNews_img {
    transform: scale(1.1);
  }
  &:hover .academyNews_title {
    color: var(--blue);
  }
}
.academyNews_img_block {
  overflow: hidden;
  border-radius: 10px;
  max-height: 180px;
  margin: 0px 0px 15px 0px;
}
.academyNews_img {
  transition: all ease 0.3s;
  width: 100%;
  height: 100%;
  min-height: 180px;
  object-fit: cover;
  object-position: center;
  @media (max-width: 992px) {
    min-height: 150px;
    max-height: 150px;
  }
  @media (max-width: 425px) {
    min-height: 165px;
    max-height: 165px;
  }
}
.times {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: #9c9c9c;
  white-space: nowrap;
  img {
    margin: 0px 8px 0px 0px;
  }
}
.clock_text {
  margin: 0px 20px 0px 0px;
}
.academyNews_title {
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #222222;
  margin: 15px 0px 10px 0px;
  transition: all ease 0.2s;
  max-height: 57.27px;
  overflow: hidden;
  @media (max-width: 425px) {
    margin: 10px 0px 7px 0px;
  }
}
.academyNews_text {
  font-family: "Philosopher", sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: #949495;
  max-height: 49.09px;
  overflow: hidden;
}

.singlePage_img.noBorder {
  border-radius: unset !important;
  max-height: 590px;
}

.sharing_links {
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
  div {
    display: flex;
  }
  p {
    font-family: "Inter", sans-serif;
    margin: 0px 0px 0px 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #9c9c9c;
    @media (max-width: 768px) {
      margin: 0px 0px 6px 0px;
    }
  }
  a {
    display: block;
    margin: 0px 3px 0px 12px;
    transition: all ease 0.2s;
    @media (max-width: 768px) {
      margin: 0px 10px 3px 0px;
    }
    &:hover {
      transform: translateY(-4px);
    }
    img {
      max-width: 32px;
      max-height: 32px;
    }
  }
}

.breadcrumb-item {
  white-space: normal;
  margin: 0px 0px 4px 0px;
  &:last-child {
    &::after {
      display: none;
    }
  }
  a {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #000000;
    transition: all ease 0.2s;
    &:hover {
      color: var(--blue);
    }
  }
}
.breadcrumb-item::after {
  content: url("../img/icons/arr_right.svg");
  padding: 2px 10px 0px 10px;
}
.breadcrumb {
  @media (max-width: 768px) {
    margin: 0px 0px 20px 0px;
  }
}

.booksPage {
  .books_block {
    margin: 30px 0px 30px 0px;
    @media (max-width: 768px) {
      margin: 25px 0px 20px 0px;
    }
  }
  .book_item {
    background: #ffffff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    img {
      width: 100%;
      margin: 0px 0px 30px 0px;
    }
    span {
      font-family: "Philosopher", sans-serif;
      font-size: 20px;
      line-height: 100%;
      color: #000000;
      padding: 0px 15px 30px 15px;
      display: block;
    }
  }
}

.load_more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 15px 30px rgba(0, 0, 0, 0.05);
  width: fit-content;
  cursor: pointer;
  transition: all ease 0.3s;
  margin: 0px auto;
  &:hover {
    transform: translateY(-4px);
  }
  img {
    margin: 0px 10px 0px 0px;
  }
  p {
    margin: 0px 0px 0px 0px;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    color: var(--blue);
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.book_item.NoBorder {
  background: #ffffff;
  box-shadow: unset;
}
.book_item.NoBorder img {
  margin: 0px 0px 0px 0px;
}

.read_more {
  display: flex;
  align-items: center;
  font-family: "Philosopher", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: #002568;
  transition: all ease 0.3s;
  &:hover {
    color: #002568;
  }
  &:hover img {
    transform: translateX(4px);
  }
  img {
    transition: all ease 0.3s;
    margin: 0px 0px 0px 10px;
  }
}

.singleBook_block {
  img {
    max-width: 100%;
  }
}

.about_us_page_block__tabs {
  display: flex;
  align-items: center;
  margin: 35px 0px 80px 0px;
  @media (max-width: 768px) {
    margin: 25px 0px 40px 0px;
  }
  .about_us_page_block__tabs__center {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 5px 14px;
    flex-wrap: wrap;
    @media (max-width: 455px) {
      justify-content: space-around;
    }
    .about_us_page_block__tabs__center__item {
      display: flex;
      align-items: center;
      justify-content: center;

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 2px 0px 2px;
        width: 30px;
        height: 30px;
        transition: all ease 0.3s;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        color: #9c9c9c;
        text-decoration: none;
        &.active {
          background: var(--blue);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.03);
          border-radius: 6px;
          color: #ffffff;
        }
        &:hover {
          background: var(--blue);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.03);
          border-radius: 6px;
          color: #ffffff;
        }
      }
    }
  }
}
.about_us_page_block__tabs__center__item.arr {
  .text {
    &:hover {
      background: #dbdbdb !important;
    }
    &.active {
      background: #dbdbdb !important;
    }
  }
}

.single_news_text.font-24 {
  font-size: 24px;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.pdfArticle_block {
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.03), 0px 1px 2px rgba(0, 0, 0, 0.05),
    0px 15px 40px rgba(0, 0, 0, 0.03), 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  display: flex;
  padding: 50px 47px;
  @media (max-width: 768px) {
    padding: 20px 15px;
  }
  .left {
    @media (min-width: 1200px) {
      margin: 0px 120px 0px 0px;
    }
  }
  .right {
    .img {
      overflow: hidden;
      border-radius: 10px;
      img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  @media (max-width: 992px) {
    flex-direction: column;
  }
}
.pdfLinks {
  margin: 40px 0px 0px 0px;
  @media (max-width: 768px) {
    margin: 20px 0px 0px 0px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -30px;
    padding: 0px 0px 0px 0px;
    li {
      margin: 2px 30px;
      a {
        font-weight: 300;
        font-size: 22px;
        line-height: 130%;
        color: #222222;
        white-space: nowrap;
        transition: all ease 0.2s;
        &:hover {
          color: #3c5997;
        }
        &.active {
          color: #3c5997;
        }
      }
    }
  }
}

.video_block {
  .academyNews_img_block {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("/img/icons/play.svg") no-repeat;
      background-position: center;
    }
  }
}

.searchPage {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media (max-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 425px) {
    grid-template-columns: 1fr;
  }
}
